.main-body{
    background-color: #ff0000;
    padding:40px ;
    color: #ffffff;
    font-size: 140px;
    font-weight: 700;
}

.main-body-header{
    padding:156px 0px;
    line-height:125px;
    font-weight:800;
}

.topright-arrow{
    width: 100px;
}

.get-started{
    text-align: right;
    color: black; 
    font-size: 22px;
    font-weight: 700;
}

.getstarted-btn{
    color: #ffffff;
    text-decoration:underline;
    cursor: pointer;
    
}

.mainbody-text{
    color: black;
    font-size: 54px;
    font-weight: 700;
}

.mainbody-text-data{
    font-size: 16px;
    font-weight: 500;
}